.Box,.win,.lose{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width:500px;
  height:500px;
  border: 2px solid black;
}
.Box_img{
  width:400px;
}
.win{
  border-color: green;
}
.lose{
  border-color:red;
}